<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="container-scroller">
        {{>header}}
        <div class="container-fluid page-body-wrapper">
            {{>sidebar}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <h4 class="card-title text-primary">{{page_title}}</h4>
                                    </div>
                                    <form id="userForm" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            {{#each fields}}
                                            <div class="col-md-3 {{#ifEquals type "hidden"}}d-none{{/ifEquals}}">
                                                {{#ifEquals type "select"}}
                                                <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                <select class="{{cls}}" name="{{nm}}"
                                                id="{{nm}}" {{#ifEquals req "Y"}}required{{/ifEquals}} {{#if onchange}}onchange="{{onchange}}"{{/if}}>
                                                {{#if options}}
                                                {{#each options}}
                                                <option value="{{ID}}" {{#ifEquals ../val ID}}selected{{else}}{{/ifEquals}}>{{#if NAME}}{{NAME}}{{/if}}</option>
                                                {{/each}}
                                                {{/if}}
                                                </select>
                                                {{else}}
                                                    {{#ifEquals type "checkbox"}}
                                                    <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                    <input type="checkbox" id="{{nm}}" class="formfields" name="{{nm}}"  {{#ifEquals req "Y"}}required{{/ifEquals}}>
                                                    {{else}}
                                                        {{#ifEquals type "hidden"}}{{else}}
                                                        <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                        {{/ifEquals}}
                                                        <input class="{{cls}}" type="{{type}}"
                                                            name="{{nm}}" id="{{nm}}" value="{{val}}" placeholder="{{lbl}}" {{#ifEquals req "Y"}}required{{/ifEquals}} />
                                                        {{/ifEquals}}
                                                        {{#ifEquals type "file"}}
                                                            {{#if val}}
                                                            <a href="/public/uploads/{{val}}" target="_blank" class="small text-secondary">View File</a>
                                                            {{/if}}
                                                        {{/ifEquals}}
                                                    {{/ifEquals}}
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <span id="loading-button" class="small text-primary" style="display: none;">Please Wait....</span>
                                                <button type="submit" onclick="return submitAdminForm(event)" class="btn btn-primary form-submit-button">Save</button>
                                                <a href="{{listUrl}}" class="btn btn-primary form-submit-button">Back</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>footer}}
            </div>
        </div>
    </div>
    {{>footerscript}}
</body>
</html>