<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="container-scroller">
        {{>header}}
        <div class="container-fluid page-body-wrapper">
            {{>sidebar}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <h4 class="card-title text-primary">{{page_title}}</h4>
                                    </div>
                                    <form class="pt-3" id="moduleform">
                                        <div class="form-group d-none">
                                            <input type="text" class="form-control form-control-lg" id="code" placeholder="Email Code" value="{{token}}" />
                                            <input type="hidden" name="user_name" id="user_name" value="{{email}}" />
                                            <input type="hidden" name="user_id" id="user_id" value="{{id}}" />
                                          </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="password" class="form-control form-control-lg" id="password" value="" placeholder="Password" />
                                                  </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <input type="password" class="form-control form-control-lg" id="cpassword" value="" placeholder="Confirm Password" />
                                                  </div>
                                            </div>
                                            <div class="col-2">
                                                <div>
                                                    <button type="submit" id="submit_button" class="btn btn-block btn-primary small auth-form-btn">SUBMIT</button>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="error" class="text-danger small font-weight-bold"></div>
                                                <div class="my-2 d-flex justify-content-between align-items-center">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>footer}}
            </div>
        </div>
    </div>
    {{>footerscript}}
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#password").val('');
                $("#cpassword").val('');
            },1000);
            $("#moduleform").submit(function (e) {
                $("#submit_button").html("Please wait...");
                $("#error").val('');
                e.preventDefault();
                if($("#password").val() == ''){
                $("#error").html("Password Cannot be blank");
                $("#submit_button").html("SUBMIT");
            }
            else if($("#password").val().length < 6){
                $("#error").html("Password Should be atleast 6 characters");
                $("#submit_button").html("SUBMIT");
            }
            else if($("#password").val() != $("#cpassword").val()){
                $("#error").html("Password Mismatch");
                $("#submit_button").html("SUBMIT");
            } else {
                let values = {
                    user_id: '{{user_id}}',
                    user_email: '{{user_email}}',
                    password: $("#password").val()
                }
                $.ajax({
                    method: "POST",
                    url: '/change-password',
                    dataType: "json",
                    data: values
                })
                .done(function (response) {
                    $("#submit_button").html("SUBMIT");
                    if (response.success == 1) {
                        //$("#success_message").html(response.message);
                        openSwalSuccess(response.message, '');
                    } else {
                        alert("Error : " + JSON.stringify(response.query));
                    }
                });
            }
            });
        });
    </script>
</body>
</html>