<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <style>
        .container1 {
            margin: 10px 0 0 0;
            padding: 0px;
            
        }
        .textbox-group{
            margin: 5px 10px;
            float: left;
        }
        button {
            margin: 5px 10px;
        }

        .container1 input {
            border: 1px solid #f6f2f2;
            font-weight: 400;
            font-size: 0.775rem;
            height: auto;
            padding: 0.475rem 0.375rem;
        }
        
    </style>
</head>
<body>
    <div class="container-scroller">
        {{>header}}
        <div class="container-fluid page-body-wrapper">
            {{>sidebar}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <h4 class="card-title text-primary">{{page_title}}</h4>
                                    </div>
                                    <form id="userForm" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            {{#each fields}}
                                            <div class="col-md-3 {{#ifEquals type "hidden"}}d-none{{/ifEquals}}">
                                                {{#ifEquals type "select"}}
                                                <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                <select class="{{cls}}" name="{{nm}}"
                                                id="{{nm}}" {{#ifEquals req "Y"}}required{{/ifEquals}} {{#if onchange}}onchange="{{onchange}}"{{/if}}>
                                                <option value="">Select Option</option>
                                                {{#if options}}
                                                {{#each options}}
                                                <option value="{{ID}}" {{#ifEquals ../val ID}}selected{{else}}{{/ifEquals}}>{{#if NAME}}{{NAME}}{{/if}}</option>
                                                {{/each}}
                                                {{/if}}
                                                </select>
                                                {{else}}
                                                    {{#ifEquals type "checkbox"}}
                                                    <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                    <input type="checkbox" id="{{nm}}" class="formfields" name="{{nm}}"  {{#ifEquals req "Y"}}required{{/ifEquals}}>
                                                    {{else}}
                                                        {{#ifEquals type "hidden"}}{{else}}
                                                        <label for="{{nm}}" class="text-primary small">{{lbl}}</label>
                                                        {{/ifEquals}}
                                                        <input class="{{cls}}" type="{{type}}"
                                                            name="{{nm}}" id="{{nm}}" value="{{val}}" placeholder="{{lbl}}" {{#ifEquals req "Y"}}required{{/ifEquals}} />
                                                        {{/ifEquals}}

                                                        {{#ifEquals type "file"}}
                                                            {{#if val}}
                                                            <a href="/public/uploads/{{val}}" target="_blank" class="small text-secondary">View File</a>
                                                            {{/if}}
                                                        {{/ifEquals}}
                                                    {{/ifEquals}}
                                            </div>
                                            {{/each}}
                                        </div>

                                        <div class="small text-primary mt-3">Select Below option from selected service</div>
                                        <!-- {{#each meta}}
                                        <div class="row">
                                            <div class="col-1">
                                                <input type="checkbox" checked name="meta_{{meta_id}}" id="meta_{{meta_id}}" class="formfields form-control mt-2" value="{{meta_id}}" />
                                            </div>
                                            <div class="col-11">
                                                <label class="small" for="meta_{{meta_id}}">{{meta_id}}</label>
                                            </div>
                                        </div>
                                        {{/each}}-->
                                        <div id="service_response"></div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <span id="loading-button" class="small text-primary" style="display: none;">Please Wait....</span>
                                                <button type="submit" onclick="return submitAdminForm(event)" class="btn btn-primary form-submit-button">Save</button>
                                                <a href="{{listUrl}}" class="btn btn-primary form-submit-button">Back</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>footer}}
            </div>
        </div>
    </div>
    {{>footerscript}}
    <script type="text/javascript">
        function getSubServices(id){
            $("#service_response").html("");
            $.ajax({
                type: "POST",
                url: '/clients/get_sub_services',
                data: {service_type_id: id},
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                },
                success: function(response){
                  let html = '';
                  if(response.success == 1){
                    let data = response.data;
                    if(data && data.length > 0){
                        
                        data.map((item,index) => {
                            html += '<div class="row">';
                            html += '<div class="col-1">';
                            html += '<input type="checkbox" name="meta_'+item.meta_id+'" id="meta_'+item.meta_id+'" class="formfields form-control mt-2" value="'+item.meta_id+'" />';
                            html += '</div>';
                            html += '<div class="col-11">';
                            html += '<label class="small" for="meta'+item.meta_id+'">'+item.sub_service_title+'</label>';
                            html += '</div>';
                            html += '</div>';
                        });
                        $("#service_response").html(html);
                    }
                  }
                }
            });
        }
        $(document).ready(function(){
            
            $("#service_type").change(function(){
                getSubServices(this.value);
            });
            if($("#service_type").val() > 0){
                getSubServices($("#service_type").val());
                setTimeout(function(){
                    {{#each meta_data}}
                        $("#meta_{{sub_service_id}}").prop('checked', true);
                    {{/each}}
                },1000);
            }
        })
    </script>
</body>
</html>